
.donatePage {
    background: url("../assets/DonateBG.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.donateMain {
    display: flex;
justify-content: center;

}

.donate-side-container {
    
    width: 500px;
}

.donate-content-container {
    padding: 0px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {


    width: 600px;
}

.donate-footer {
    margin-top: 150px;
    width: 100%;
}

/* #donate_button {
    width: 150px;
    height: 150px;
    background-image: url("../assets/PayPal_Plank_2.png") no-repeat; 
    background-repeat: no-repeat;
    background-size: 100%;
}
#logo {
    width: 600px;
    position: absolute;
    top: 30px;
    right: 100px;
}

#paypal {
    width: 300px;
    position: absolute;
    right: 270px;
    bottom: 170px;

} */