  .footer {
    background-image: url("../assets/footer/Footer2.png");
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
    height: 250px;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    max-width: 1250px;
    margin: 0 auto;
  }

  .footer-container a {
    cursor: pointer;
  }

.box {margin-top: -125px;}

.box-content {
    position: relative;
    width: 100px;
    height: 80px;
  }

  /* EMAIL */

  .box-content-email {
    position: relative;
    width: 150px;
    height:200px;
  }


  
  .box-content-email:hover:after {
    content: attr(data-content);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../assets/footer/Email.png');
    background-size: cover; /* or contain or custom size */
    background-position: center center; /* or custom position */
    color: black;
    text-align: center;
    padding: 20px;
    width: 200px;
  }

  .box-content-email:after {
    content: "";
    display: none;
  }

/* Phone */

.box-content-phone {
    position: relative;
    width: 100px;
    height: 180px;
  }


  
  .box-content-phone:hover:after {
    content: attr(data-content);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../assets/footer/Phone.png');
    background-size: cover; /* or contain or custom size */
    background-position: center center; /* or custom position */
    color: black;
    text-align: center;
    padding: 20px;
    width: 200px;
    margin-left: -50px;
  }

  .box-content-phone:after {
    content: "";
    display: none;
  }

  /* snail-mail */

.box-content-snail-mail {
    position: relative;
    width: 100px;
    height: 180px;
  }


  
  .box-content-snail-mail:hover:after {
    content: attr(data-content);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../assets/footer/Address.png');
    background-size: cover; /* or contain or custom size */
    background-position: center center; /* or custom position */
    color: black;
    text-align: center;
    padding: 20px;
    width: 300px;
    margin-left: -100px;
  }

  .box-content-snail-mail:after {
    content: "";
    display: none;
  }


    /* Radio */

.box-content-radio {
    position: relative;
    width: 100px;
    height: 280px;
  }


  
  .box-content-radio:hover:after {
    content: attr(data-content);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../assets/footer/Radio.png');
    background-size: cover; /* or contain or custom size */
    background-position: center center; /* or custom position */
    color: black;
    text-align: center;
    width: 300px;
    margin-left: -100px;
  }

  .box-content-radio:after {
    content: "";
    display: none;
  }



  .none {
    display: none;
  }


  .finalTwo {
    display: flex;
    gap: 20px;
margin-top: 20px;
  }