.images-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
max-width: 100%;
}

.frames {
    display: grid;
}

#images {
    width: 11rem;
    height: 11.5rem;
    position: absolute;
    z-index: -1;
    margin: 42px 0px 0px 30px;

    object-fit: cover;
}

#frame {
    width: 15rem;
    height: 15rem;
}

.frames img {
    grid-column: 1;
    grid-row: 1;
    
      
}

