.getInvolvedContainer {
  background: url("../assets/GetInvolvedBG_2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: scroll;
}
.texts {
  margin-top: -180px;
  margin-bottom: -120px;
}
.texts img {
width: 1200px;
}
.get-involved-glass-container {
    max-width: 1200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: black;
}

.get-involved-glass-container h1{
font-size: 3rem;    
}


.component-test .getInvolvedScroll {
  position: fixed;
  max-width: 70%;
  top: 0px;
  z-index: 999;
  max-height: 100%;
  @media (max-width: 600px) {
    min-width: 300px;
  max-width: 500px;
  margin-top: 100px;
  }
  @media (max-height: 760px) {
    top: -50px;
  }
}


.images-container {
  position: fixed;
display: flex;
justify-content: center;
bottom: 100px;
flex-wrap: wrap;
align-items: flex-end;
margin-top: 10px;
gap: 20px;
max-width: 100%;
z-index: 999;
overflow: scroll;
@media (max-height: 700px) {
  bottom: 20px;
}
@media (max-width: 1060px) {

  top: 300px;
}

}

.image-container  {
    position: relative;
    border-bottom: 1px dotted black;
    transition: opacity 0.5s;
    @media (max-width: 1060px) {
      width: 225px;
    }
  }
  
  .image-container:before {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    background-color: rgba(255, 255, 255, .15);   
    backdrop-filter: blur(8px);
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;
    width: 11rem;
    height: 10rem;
    position: absolute;
    z-index: 1;
    left: 35px;
    right: 0;
    top: 35px;
    bottom: 0;
    cursor: pointer;
  }
  
  .image-container:hover:before {
    opacity: 1;
    visibility: visible;
  }

  .image-container:not(:hover):before {
    opacity: 0;
    visibility: hidden;
  }

.frames {
    display: grid;
}

#images-0 {
    width: 11rem;
    height: 11.5rem;
    position: absolute;
    z-index: -1;
    margin: 42px 0px 0px 30px;
    object-fit: cover;
}

#images-1 {
  width: 11rem;
  height: 11.5rem;
  position: absolute;
  z-index: -1;
  margin: 42px 0px 0px 30px;
  object-fit: cover;
}

#images-2 {
  width: 11rem;
  height: 11.5rem;
  position: absolute;
  z-index: -1;
  margin: 42px 0px 0px 30px;
  object-fit: cover;
}

#images-3 {
  width: 11rem;
  height: 12.9rem;
  position: absolute;
  z-index: -1;
  margin: 42px 0px 0px 30px;
  margin-top: 29px;
  object-fit: cover;
}

#frame {
    width: 15rem;
    height: 15rem;
}

.frames img {
    grid-column: 1;
    grid-row: 1;
    
      
}

.button-wood-plank img{
width: 250px;
}

.side_button {
  margin-bottom: -90px;
}






/* new page */


.full-screen-background {
  background-image: url("../assets/GetInvolvedBG_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Ensure elements are spaced correctly */
}

.scroll-container {
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent overflow */
}

.scroll-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 10px;
  overflow: hidden; /* Prevent overflow */
  margin-bottom: 200px;
}

.box {
  background-color: transparent; /* Make the box transparent */
  width: 200px; /* Fixed width for each box */
  height: 300px; /* Fixed height for each box */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between top and bottom images */
  align-items: center;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px; /* Padding inside the box to create gap */
  cursor: pointer; /* Change cursor to pointer */
  gap: 30px;
}

.box-image-container {
  width: 100%;
  height: 50%; /* Fixed height for the image */
  object-fit: cover;
  position: relative;
  transition: opacity 0.5s;
}

.box-image-container:before {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    background-color: rgba(255, 255, 255, .15);   
    backdrop-filter: blur(8px);
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;
    width: 12.8rem;
    height: 10.8rem;
    position: absolute;
    right: -8px;
    top: -28px;
    z-index: 2;
    cursor: pointer;
}

.box-image-container:hover:before {
  opacity: 1;
  visibility: visible;
}

.box-image-container:not(:hover):before {
  opacity: 0;
  visibility: hidden;
}

.frame {
  width: 13rem;
  height: 12rem;
  position: absolute;
  z-index: 1;
  right: -10px;
  bottom: -20px;
  object-fit: cover;
}

.box-image {
  width: 100%;
  height: 100%; /* Fixed height for the image */
  object-fit: cover;
  position: relative;
}

.box-image.bottom:hover {
  transform: skewY(20deg); /* Skew down on hover */
}

.box:nth-child(3) .box-image.bottom:hover,
.box:nth-child(4) .box-image.bottom:hover {
  transform: skewY(-20deg); /* Skew down on the left */
}