
/* Homepage background */
html { 
  background: url("../assets/Illinois-River1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* logo */
.homepage img {
  margin-top: 200px;
  width: 700px;
}
/* buttons */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}
