@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat+Brush&family=Francois+One&family=Indie+Flower&family=Limelight&family=Neucha&family=Roboto:ital@1&family=Rubik+Dirt&family=Rye&display=swap');


/* Homepage background */
html { 
  background: url("../assets/Illinois-River1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.homepage {
  border: 2px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.in-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, .15);   
  backdrop-filter: blur(8px);
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

/* logo */
.in-cont img {
  min-width: 700px;
  max-width: 800px;
}
/* buttons */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  
}

a {
  color: #FFFFFF;
  text-decoration: none;
  
}

button {
  font-size: 50px;
}

#amatic {
  font-family: 'Amatic SC', cursive;
}

#indie-flower {
  font-family: 'Indie Flower', cursive;
}

#francois-one {
  font-family: 'Francois One', sans-serif;
}

#neutcha {
  font-family: 'Neucha', cursive;
}

#caveat-brush {
  font-family: 'Caveat Brush', cursive;
}

#rubik-dirt {
  font-family: 'Rubik Dirt', cursive;
}

#rye {
  font-family: 'Rye', cursive;
}

#limelight {
  font-family: 'Limelight', cursive;
}