.outer-container {
    margin: 0 auto;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    gap: 120px;
}

.inner-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    
}

.content-container {    
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(255, 255, 255, .15);   
    backdrop-filter: blur(8px);
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 0px 100px 0px 100px;
    margin-right: 100px;
    max-width: 1200px;
    position:absolute;
    top:50px;
    right:0px;
    bottom:150px;
    left:350px;
}

/* Image Gallery */

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px;
  }

div.gallery {
    flex: 25%;
    max-width: 25%;
    margin: 5px;
    width: 180px;
  }
  
  div.gallery .gallery_image {
    width:  90%;
    height: 90%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 20px;
  }

  div.desc {
    text-align: center;
  }

  .innerImageText {
    background: black;
    width:  15%;
    position: absolute;
    margin-left: 8px;
    top: 280px;
    opacity: 0;
    border-radius: 20px;
    padding: 20px;
  }

  .innerImageText:hover {
    opacity: 1;
  }

  /* buttons */

  .grid{
    display: grid;
    justify-content: center;
  }
  
  .planks, .caption{
    grid-column: 1;
    grid-row: 1;
  }

  .planks {
    width: 300px;
  }

  .caption {
    /* margin-top: -35px; */
  }

  .planks:hover {
    transform: skewY(10deg);
  }

  .caption:hover {
    /* margin-top: -35px; */
    transform: skewY(10deg);
  }

  /* frames */

  .frame {
    width: 100px;
  }
  
  
  