.stream-container {
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    gap: 140px;
    margin: 0 auto;
}

.schedule-container {
    margin: 20px;
    border: 2px solid red;
    padding: 100px;
    color: red;
    font-weight: bold;
}
.glass-container {
    background-color: rgba(255, 255, 255, .15);   
    backdrop-filter: blur(8px);
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: #FFFFFF;
}

.stream-container p {
    padding: 20px;
}
