html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.listenNowContainer {
    background: url("../assets/ListenNowBG.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
     height: 100vh;
}

.stream-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    margin-left: 400px;
    margin-top: -100px;
}

.streamSidebuttons {
      position: absolute;
  left: 100px;
  top: 10px;
}

.buttons-listen-now {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom:-150px;

    @media (max-width: 600px) {
        flex-direction: column;
        margin-top: 50px;
        gap: 50px;
        }
}

.buttons-listen-now img {
    width: 300px;
    margin-top: -100px;
    @media (max-width: 600px) {
        /* margin-top: 0;
        width: 100px; */
    }
    
}

#whatsUp {
    margin-top: -250px;
    cursor: pointer;
}

#archive {
    cursor: pointer;
    margin-top: -150px;
}

#archive:hover {
    transform: skewY(10deg);
}

.schedule-container {
    margin: 20px;
    width: 650px;
    height: 400px;
    max-width: 750px;
    max-height: 400px;
    overflow: scroll;
    
}

.stream-container p {
    padding: 20px;
}

.stream-player {
    width: 28rem;
    margin-top: -130px;
}


.listenNowContainer {
    display: grid;
  grid-template-columns: 1fr 3fr; /* 1/4 for the sidebar, 3/4 for the content */
  grid-template-rows: 100%;
  grid-template-areas:
    "sidebar content"
    "footer footer";
    height: 100vh;
    padding-top: 50px;
    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.sidebar {
    grid-area: sidebar;
    height: 75%;
    max-height: 800px;
    width: 100%;
    @media (max-width: 600px) {
        display: none;
        }
  }

.content {
    grid-area: content;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   padding-top: 80px;
}

.listen-footer {
    grid-area: footer;
    height: 25%;
margin-top: -60px;
    z-index: 5;

    /* remove when we get the footer working  */
    display: none;
}

.whatsUpPoster img{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10001;
    /* border: 5px solid red; */
}

.whatsUpPosterNone {
    display: none;
}

.whatsUpPoster {
  animation: spin 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center center;
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}
